:root {
  --color-background: #282828;
  --color-foreground: #ebdbb2;
  --color-primary: #83a598;
  --color-secondary: #fe8019;
  --color-red: #fb4934;
  --color-green: #b8bb26;
  --color-yellow: #fabd2f;
  --color-blue: #83a598;
  --color-purple: #d3869b;
  --color-aqua: #8ec07c;
  --color-gray: #a89984;
  --font: 'Latin Modern Roman', serif;
}

/* global */

* {
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  hyphens: auto;
  margin: 0;
  padding: 0;
}

html {
  font-size: 120%;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #a89984;
}

@media screen and (min-width: 768px) {
  header > h1 {
    font-size: 2.8rem;
  }
  main > .post-group > ul {
    margin-left: 1rem;
    padding-left: 2rem;
  }
  main > .post > div {
    margin-left: 2rem;
  }
}

time {
  color: var(--color-gray);
  margin-left: 1rem;
  min-width: 5rem;
}

#content {
  background-color: var(--color-background);
  color: var(--color-foreground);
  display: flex;
  flex-direction: column;
  font-family: var(--font);
  min-height: 100vh;
  overflow-wrap: break-word;
  padding: 1rem;
}

.link {
  color: var(--color-red);
  text-decoration: underline;
}

.link:hover {
  color: #cc241d;
}

.summary {
  font-style: italic;
  font-size: 1.1rem;
}

.paginator {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
}

.comment {
  margin-top: 1rem;
}

::-webkit-scrollbar {
  background-color: var(--color-background);
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-gray);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-secondary);
}

/* header */

header {
  align-items: center;
  display: flex;
  flex-direction: column;
}

header > h1 {
  text-align: center;
}

header > nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 768px;
  width: 100%;
}

header > nav > span > a {
  font-size: 1.2rem;
}

/* main */

main {
  align-self: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 768px;
  padding: 2rem 0;
  width: calc(100% - 2rem);
}

main > h1 {
  text-align: center;
}

main > .content {
  padding-top: 1rem;
}

main > .warning {
  background-color: var(--color-red);
  color: var(--color-foreground);
  font-size: 1.1rem;
  margin: 2rem 0;
  padding: 1rem 0;
  text-align: center;
}

main :target {
  background-color: azure;
}

main > .post-group > ul {
  border-left: var(--color-gray) solid 1px;
  list-style-type: none;
  margin-left: 0.5rem;
  padding-left: 1rem;
}

main > .post-group > ul > li {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 1.6;
}

main > .post-group > ul > li > time {
  text-align: right;
}

main > .post + .post {
  margin-top: 2rem;
}

main > .post > h2 {
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.metadata {
  align-items: center;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
}

.start-metadata {
  width: 100%;
}

.end-metadata {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.metadata time {
  font-size: 1rem;
  font-weight: normal;
  margin-left: 0;
  justify-self: flex-end;
}

.metadata span {
  font-size: 1rem;
  font-weight: normal;
  color: var(--color-gray);
  margin-right: 1rem;
}

main > .post > .content {
  padding-top: 1rem;
}

/* footer */

footer {
  align-items: center;
  display: flex;
  font-size: 0.9rem;
  flex-direction: column;
}

footer > .footnote {
  margin-bottom: 0.3rem;
  text-align: center;
}

/* content */

.post-title {
  font-size: 1.8rem;
}

.content {
  font-size: 120%;
  line-height: 145%;
}

.content :last-child {
  margin-bottom: 0;
}

.content a {
  color: var(--color-red);
  text-decoration: underline;
}

.content a:hover {
  color: #cc241d;
}

.content a.footnote-ref::before {
  content: "[";
}

.content a.footnote-ref::after {
  content: "]";
}

.content blockquote,
.content div,
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6,
.content p,
.content pre,
.content ol,
.content table,
.content ul {
  margin-bottom: 1rem;
}

.content blockquote {
  border-left: var(--color-foreground) 2px solid;
  font-size: 22px;
  line-height: 130%;
  margin: 1.5em 0 1.5em 0;
  padding-left: 2em;
}

.content code {
  background-color: var(--color-background);
  border-radius: 0.2rem;
  color: var(--color-red);
  font-family: var(--font);
  padding: 0 0.2rem;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.content h1 {
  font-size: 1.8rem;
}

.content h2 {
  font-size: 1.7rem;
}

.content h3 {
  font-size: 1.6rem;
}

.content h4 {
  font-size: 1.5rem;
}

.content h5 {
  font-size: 1.4rem;
}

.content h6 {
  font-size: 1.3rem;
}

.content img {
  max-width: 100%;
}

.content p {
  text-align: justify;
}

.content pre {
  background-color: var(--color-background) !important;
  border-radius: 0.2rem;
  font-family: var(--font);
  margin-top: 0.5rem;
  overflow-x: auto;
  padding: 0.5rem;
}

.content pre code {
  padding: 0;
}

.content ol,
.content ul {
  margin-left: 1.5rem;
}

.content table {
  margin-bottom: 1.5em;
  border-collapse: collapse;
  width: 95%;
}

.content td,
.content th,
.content tr {
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}

.content td,
.content th {
  padding-left: 0.3em;
  padding-right: 0.3em;
  font-size: 90%;
}

table th {
  font-weight: normal;
  text-transform: lowercase;
  font-size: 95%;
  padding: 0.3rem 0.5rem;
  line-height: 1.05;
}

#share-buttons {
  margin-top: 0.6rem;
}
