{{ define "main" }}
{{ $pages := where .Data.Pages "Type" "posts" }} {{ range
$pages.GroupByDate "2006-01" }}
<div class="post-group">
  <h2>{{ dateFormat "January 2006" (printf "%s-01" .Key) }}</h2>
  <ul>
    {{ range .Pages }}
    <li>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a> —
      <time>
        {{ with .Date }} {{ . | time.Format ":date_long" }} {{ end }} {{ with
        .PublishDate }} {{ . | time.Format ":date_long" }} {{ end }}
      </time>
    </li>
    {{ end }}
  </ul>
</div>
{{ end }} {{ end }}
