{{ define "main" }}
<section>
  <h2>Explore</h2>
  <ul>
  </ul>
</section>

<section>
  <h2>Recent Additions</h2>
  <ul>
    {{ range first 5 .Site.RegularPages.ByDate.Reverse }}
    <li>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      <small>({{ .Date.Format "Jan 2, 2006" }})</small>
    </li>
    {{ end }}
  </ul>
</section>

<section>
  <h2 id="epigraphs">Words of Wisdom</h2>
  <div class="epigraph">
    <blockquote>
      <p>
        “We are what we repeatedly do. Excellence, then, is not an act, but a
        habit.”
      </p>
      <footer>Aristotle (or Will Durant)</footer>
    </blockquote>
  </div>
</section>
{{ end }}
