<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <meta name="author" content="Ghassan Shahzad">
    <meta name="description" content="Hi, my name is Ghassan Shahzad and this is my portfolio website.">
    <link rel="canonical" href="https://ghassbomb.github.io/">
    <meta name="robots" content="index, follow">
    <link rel="icon" href="/images/favicon.svg" type="image/svg+xml">
    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}" />
</head>